@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
.views, textarea, .previewer {
  width: 50%;
  min-height: 82.5vh;
  padding: 10px;
  border: 0.2px solid gray; }

body {
  scroll-behavior: smooth; }
  body nav {
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px;
    height: 17.5vh; }
    body nav h1 {
      font-size: 3em;
      color: #27ae60;
      font-weight: 700;
      text-align: center; }
      body nav h1 small {
        font-size: 0.40em;
        color: #555;
        font-weight: 400; }

textarea {
  float: left;
  resize: none; }
  textarea:focus {
    outline: 0px; }

.flex-or-grid {
  display: flex; }

.previewer {
  float: right;
  background-color: white;
  color: black;
  border-left: 0px; }

@media (min-width: 768px) and (max-width: 1023px) {
  nav h1 {
    font-size: 2em; }
    nav h1 small {
      font-size: 0.5em; }
  .flex-or-grid {
    display: block; } }

@media (max-width: 768px) {
  nav h1 {
    font-size: 2em; }
    nav h1 small {
      font-size: 0.55em; }
  .flex-or-grid {
    display: block; }
    .flex-or-grid .previewer {
      width: 100%; }
    .flex-or-grid textarea {
      width: 100%; } }
