@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
.views, .text-area-default, .previewer {
  width: 50%;
<<<<<<< HEAD
  height: 82vh;
  font-size: 16px !important;
=======
  min-height: 82vh;
>>>>>>> 7f29ac9822439390e08b9429973b0343804c1392
  padding: 10px;
  border: 0.2px solid gray; }

.font-constant, .navbar, .text-area-default {
  font-family: "Source Sans Pro", sans-serif !important; }

body {
  scroll-behavior: smooth;
<<<<<<< HEAD
  font-size: 20px;
  max-width: 100vw !important; }

.navbar {
  height: 16.5vh;
  display: flex;
  text-overflow: clip;
  clear: both !important; }
  .navbar h1 {
    font-size: 2em;
    padding: 10px;
    color: #27ae60;
    font-weight: 700;
    text-align: center;
    flex: auto;
    line-height: 18px; }
    .navbar h1 small {
      font-size: 0.3em;
      color: #555;
      font-weight: 400; }
  .navbar button {
=======
  font-size: 16px; }

.navbar {
  font-family: "Source Sans Pro", sans-serif !important;
  padding: 10px;
  height: 17vh;
  display: flex; }
  .navbar h1 {
    font-size: 3em;
    color: #27ae60;
    font-weight: 700;
    text-align: center;
    flex: auto; }
    .navbar h1 small {
      font-size: 0.4em;
      color: #555;
      font-weight: 400; }
  .navbar button {
    flex-shrink: auto;
    flex-direction: row;
>>>>>>> 7f29ac9822439390e08b9429973b0343804c1392
    border-radius: 5px;
    vertical-align: middle;
    max-height: 30px;
    font-size: 1.5ch;
    border: 0px;
    background-color: #27ae60;
    color: #fff; }

.text-area-default {
<<<<<<< HEAD
=======
  font-family: "Source Sans Pro", sans-serif !important;
>>>>>>> 7f29ac9822439390e08b9429973b0343804c1392
  float: left;
  resize: none; }
  .text-area-default:focus {
    outline: 0px; }

.flex-or-grid {
  display: flex; }

.previewer {
  float: right;
  background-color: white;
  color: black;
  border-left: 0px; }

@media (min-width: 768px) and (max-width: 1024px) {
<<<<<<< HEAD
  .navbar {
    height: 15vh; }
    .navbar h1 {
      font-size: 2em; }
      .navbar h1 small {
=======
  nav {
    height: 15vh; }
    nav h1 {
      font-size: 2em; }
      nav h1 small {
>>>>>>> 7f29ac9822439390e08b9429973b0343804c1392
        font-size: 0.5em; }
  .views, .text-area-default, .previewer {
    height: 85vh; }
  .flex-or-grid {
    display: block; } }

@media (max-width: 500px) {
<<<<<<< HEAD
  .navbar {
    height: 10vh; }
    .navbar h1 {
      font-size: 1em; }
      .navbar h1 small {
=======
  nav {
    height: 10vh; }
    nav h1 {
      font-size: 1em; }
      nav h1 small {
>>>>>>> 7f29ac9822439390e08b9429973b0343804c1392
        font-size: 0.75em; }
  .flex-or-grid {
    display: block; }
    .flex-or-grid .previewer {
      width: 100%; }
    .flex-or-grid .text-area-default {
      width: 100%; } }
